*: {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-list {
  margin-left: 10px;
}

.product-name {
  display: flex;
  justify-content: space-around;
  border: 1px solid #e7eeea;
  text-align: center;
}

.product-name h3 {
  padding: 15px 20px;
  width: 50%;
}

.product-name span {
  font-weight: ;
  padding: 14px 20px;
  display: block;
  border-left: 1px solid #e7eeea;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list li {
  color: #9e1946;
  font-size: 20px;
  margin-bottom: 45px;
  position: relative;
  width: 300px;
  font-weight: bold;
}

.product-list li p {
  position: absolute;
  writing-mode: vertical-lr;
  background: #9e1946;
  padding: 16px 9px 16px 8px;
  letter-spacing: 2px;
  color: #fff;
  left: 8px;
  font-weight: bold;
}


.product-list a {
  background: #e7eeea;
  font-size: 27px;
  font-weight: bold;
  display: block;
  padding: 21px;
  text-align: center;
  text-decoration: none;
  color: #9e1946;
}

.product-list a:hover {
  background: #f4b8cc;
}

body {
  font-family: "Nunito", sans-serif;;
}

ul {
  list-style-type: none;
